<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habilidades</title>
    <link rel="icon" href="../../static/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="../../static/css/admin/habilidades.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gradient-to-r from-purple-800 via-blue-800 to-indigo-900 text-white flex flex-col items-center p-5 min-h-screen">
    <div class="w-full max-w-3xl">
      <div class="flex items-center justify-between mb-6">
        <input type="text" id="search" class="w-2/3 px-4 py-2 rounded-lg bg-gray-900 text-white focus:outline-none focus:ring-4 focus:ring-purple-500 transition-all duration-300 shadow-xl" placeholder="Buscar habilidad..." onkeyup="filterHabilidades()">
        
        <select id="sortCriteria" class="px-4 py-2 rounded-lg bg-gray-900 text-white focus:ring-4 focus:ring-purple-500 transition-all duration-300 shadow-xl" onchange="filterHabilidades()">
          <option value="nombre">Orden Alfabético</option>
          <option value="coste">Coste</option>
          <option value="rango">Rango</option>
          <option value="duracion">Duración</option>
          <option value="casteo">Casteo</option>
        </select>
      </div>
      
      <a href="{{ url_for('admin_crear_habilidad') }}" class="block text-center bg-gradient-to-r from-green-400 to-blue-500 hover:from-green-500 hover:to-blue-600 text-white font-bold py-2 px-6 rounded-full shadow-2xl transform transition hover:scale-110">Crear Habilidad</a>
    </div>
    
    <a href="/" class="block mt-6 text-lg font-bold text-indigo-200 hover:text-indigo-100 transition-transform transform hover:scale-105">⬅ Volver al Home</a>
  
    <ul class="w-full max-w-3xl mt-6 space-y-6" id="habilidades-list">
      {% for habilidad, detalle in habilidades.items() %}
        <li class="bg-gray-900 p-6 rounded-xl shadow-2xl transition-transform transform hover:scale-105 relative habilidad-item border border-purple-600 hover:border-blue-400" 
            data-nombre="{{ habilidad }}" 
            data-coste="{{ detalle['coste'] }}" 
            data-rango="{{ detalle['rango'] }}" 
            data-duracion="{{ detalle['duracion'] }}" 
            data-casteo="{{ detalle['casteo'] }}">
          <div class="flex justify-between items-center">
            <span class="habilidad-name text-2xl font-bold text-purple-300 cursor-pointer hover:underline">{{ habilidad }}</span>
            
            <div class="habilidad-actions flex space-x-4">
              <form action="{{ url_for('admin_borrar_habilidad', nombre_habilidad=habilidad) }}" method="POST">
                <button type="submit" class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white rounded-full shadow-lg transform transition hover:scale-110">Borrar</button>
              </form>
              <a href="{{ url_for('admin_editar_habilidad', nombre_habilidad=habilidad) }}" class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-full shadow-lg transform transition hover:scale-110">Editar</a>
            </div>
          </div>
          
          <div class="tooltip-content bg-gray-800 text-sm text-white rounded-lg p-4 mt-2 hidden shadow-xl border border-blue-500">
            <p><strong>Coste:</strong> {{ detalle['coste'] }}</p>
            <p><strong>Rango:</strong> {{ detalle['rango'] }} ft</p>
            <p><strong>Duración:</strong> {{ detalle['duracion'] }}</p>
            <p><strong>Casteo:</strong> {{ detalle['casteo'] }}</p>
            <p><strong>Descripción:</strong> {{ detalle['descripcion'] }}</p>
            {% if detalle['clase'] %}
              <p><strong>Clase:</strong> {{ detalle['clase'] }}</p>
            {% endif %}
            {% if detalle['raza'] %}
              <p><strong>Raza:</strong> {{ detalle['raza'] }}</p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
    
    
    <script>
      function filterHabilidades() {
        var input = document.getElementById("search").value.toUpperCase();
        var criteria = document.getElementById("sortCriteria").value;
        var habilidadesList = document.getElementById("habilidades-list");
        var habilidadesItem = Array.from(habilidadesList.getElementsByClassName("habilidad-item"));
    
        habilidadesItem.forEach(item => {
          var nombre = item.getElementsByClassName("habilidad-name")[0].innerHTML.toUpperCase();
          item.style.display = (nombre.indexOf(input) > -1) ? "" : "none";
        });
    
        habilidadesItem.sort((a, b) => {
          var valA = a.dataset[criteria] || "";
          var valB = b.dataset[criteria] || "";
          return isNaN(valA) ? valA.localeCompare(valB) : parseInt(valA) - parseInt(valB);
        });
    
        habilidadesList.innerHTML = "";
        habilidadesItem.forEach(item => habilidadesList.appendChild(item));
      }
    </script>
  </body>
</html>
