
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clases</title>
        <link rel="icon" href="../static/images/favicon.png" type="image/png">
    </head>

    <body>
        <h1>Mago</h1>
        <p>Un mago es todo individuo que aprende a canalizar maná a través de su alma para manifestar su magia
            en forma de poderosos hechizos. Son débiles en cuerpo, pero su poder destructivo y versatilidad los hacen
            indispensables en cualquier equipo.
        </p>
        <h2>Características</h2>
        <h3>Salud, Maná, Resistencia</h3>
        <p>
            Salud a nivel 1: 6 + tu modificador de Resistencia<br>
            Salud después de nivel 1: Añadir 1d6 (o 4) + tu modificador de Resistencia cada nivel.<br>
            Maná a nivel 1: 6 + tu modificador de capacidad.<br>
            Maná despues de nivel 1: Añadir 1d8 (o 6) + tu modificador de capacidad cada nivel.<br>
            Resistencia a nivel 1: 4 + tu bonificador de agilidad<br>
            Resistencia despues de nivel 1: Añadir 1d4 + tu modificador de agilidad cada nivel<br>
        </p>
        <h3>Competencias</h3>
        <p>
            Armadura: Ninguna<br>
            Armas: Dagas, dardos, hondas, bastones, ballestas ligeras<br>
            Tiradas de salvación: Poder, Control, Capacidad<br>

        </p>
        <h3>Subclase</h3>
            <p>Desde nivel 1, puedes escoger una subclase.</p>
        
        <h4><a href='mago/hechicero'>Hechicero</a></h4>
        <p>
           Los hechiceros pasan toda su vida investigando, estudiando y meditando profundamente sobre la naturaleza de su maná.<br>
           De esta forma, son capaces de cultivar y canalizar su propia magia a placer.<br>
           Como Hechicero, debes escoger un origen particular para tu magia.
        </p>
        



        <h4><a href='mago/clerigo'>Clérigo</a></h4>
        <p>Los clérigos dedican su tiempo a rezar a los Patrones y Dioses de la Tierra. Moldeando su vida para complacer a estos entes, 
            son capaces de canalizar la energía del mundo para desatar poderosa y antigua magia.<br>
            Como clérigo, debes escoger un Dios o Patrón al que seguir.
        </p>
        

        <h1>Guerrero</h1>
        <p>Los guerreros son individuos que emplean la fuerza física como medio de defensa, crecimiento y expresión. Suelen ser nobles, o al menos siguen un código moral, y usan todo tipo de armas. Son fuertes físicamente y temibles a corta distancia, pero carecen de la versatilidad de un mago o un pícaro.
        </p>
        <h2>Características</h2>
        <h3>Salud, Maná, Resistencia</h3>
        <p>
            Salud a nivel 1: 8 + tu modificador de Resistencia<br>
            Salud después de nivel 1: Añadir 1d10 (o 6) + tu modificador de Resistencia cada nivel.<br>
            Maná a nivel 1: 4 + tu modificador de capacidad.<br>
            Maná despues de nivel 1: Añadir 1d8 (o 6) + tu modificador de capacidad cada nivel.<br>
            Resistencia a nivel 1: 8 + tu bonificador de agilidad<br>
            Resistencia despues de nivel 1: Añadir 1d10 + tu modificador de agilidad cada nivel<br>
        </p>
        <h3>Competencias</h3>
        <p>
            Armadura: Todas, escudos<br>
            Armas: Armas simples, armas marciales<br>
            Tiradas de salvación: Fuerza, Resistencia<br>

        </p>
        <h3>Subclase</h3>
            <p>Desde nivel 1, puedes escoger una subclase.</p>
        
        <h4><a href='guerrero/paladin'>Paladín</a></h4>
        <p>
            Los paladines son caballeros afiliados a una orden de un Dios o Patrón concreto. 
            Aunque pueden manifestar la magia de su Dios al igual que un clérigo, luchan cuerpo a cuerpo 
            y a menudo llevan armaduras y armas pesadas.
        </p>
        
        <h4><a href='guerrero/ronin'>Ronin</a></h4>

        <p>
            Aunque no necesariamente son repudiados sociales, los ronin acostumbran a no quedarse demasiado en un mismo sitio.
           Buscan perfeccionar el arte de la espada, cultivar su cuerpo y enriquecer su mente, y para ello vagan por el
           mundo en busca de desafíos.</p>

        

        



        <h4><a href='guerrero/barbaro'>Barbaro</a></h4>
        <p>
            Los bárbaros son guerreros deseosos de mancharse de sangre, de probar su fuerza y sentir la emoción de la batalla.
            Se lanzan de cabeza a la batalla sin pensar en nada, a menudo consumidos por el calor del combate y 
            siempre respaldados por su fuerza sobrehumana.
        </p>

        


        <h1>Pícaro</h1>
        <p>
            Los pícaros. si bien en su mayoría aventureros, no se centran en el combate directo. Son exploradores, ladrones, bardos...
            Emplean carisma e inteligencia por igual para resolver los conflictos pacíficamente, aunque para nada están indefensos en
            combate.
        </p>
        <h2>Características</h2>
        <h3>Salud, Maná, Resistencia</h3>
        <p>
            Salud a nivel 1: 6 + tu modificador de Resistencia<br>
            Salud después de nivel 1: Añadir 1d6 (o 4) + tu modificador de Resistencia cada nivel.<br>
            Maná a nivel 1: 2 + tu modificador de capacidad.<br>
            Maná despues de nivel 1: Añadir 1d4 (o 2) + tu modificador de capacidad cada nivel.<br>
            Resistencia a nivel 1: 8 + tu bonificador de agilidad<br>
            Resistencia despues de nivel 1: Añadir 1d10 + tu modificador de agilidad cada nivel<br>
        </p>
        <h3>Competencias</h3>
        <p>
            Armadura: Ligera<br>
            Armas: Armas simples, ballestas de mano, arcos<br>
            Tiradas de salvación: Inteligencia, Carisma<br>

        </p>
        <h3>Subclase</h3>
        <p>Desde nivel 1, puedes escoger una subclase.</p>
    
        <h4><a href='picaro/asesino'>Asesino</a></h4>
        <p>
            Los Asesinos son, con frecuencia, ladrones. Son la imagen en la que uno piensa cuando habla de un pícaro. Criminales,
            ladrones o simplemente justicieros incomprendidos, casi siempre funcionan al margen de la ley, o en contra de esta.
        </p>
        

        



        <h4><a href='picaro/explorador'>Explorador</a></h4>
        <p>
        Los exploradores son expertos en el reconocimiento del campo de batalla. Son los primeros en llegar a cualquier lado,
            y siempre lo hacen por el mejor camino. Su vista aguda y entrenada les da una percepción sobrehumana, su amplio conocimiento
            de supervivencia les permite deambular por los terrenos más inhospitos...
        </p>

        

        </p>
        <h4><a href="picaro/bardo">Bardo</a></h4>
        <p>
            Los bardos son un tipo bastante poco convencional de mago. Canalizan su magia a través de la música, 
            pues no tienen un conocimiento estricto de esta, sino un talento natural. Se dejan llevar por el instinto para invocar
            poderosos encantamientos que afecta a amigos y enemigos por igual.

        </p>
        <h4><a href="picaro/monje">Monje</a></h4>
    
        <p>
            En cierto modo, los monjes son una especie de mago. Sus cuerpos utilizan el maná como fuente de energía, lo que
            les permite amplificar sus cualidades físicas hasta niveles immesurables.
        </p>

        

    </body>
</html>