<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hechizos</title>
    <link rel="icon" href="../../../../../static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="../../static/css/admin/hechizos.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-purple-800 via-blue-800 to-indigo-900 text-white flex flex-col items-center p-5 min-h-screen">
    <div class="w-full max-w-3xl">
        <div class="flex items-center justify-between mb-6">
          
            <input type="text" id="search" class="w-2/3 px-4 py-2 rounded-lg bg-gray-900 text-white focus:outline-none focus:ring-4 focus:ring-purple-500 transition-all duration-300 shadow-xl" placeholder="Buscar hechizo..." onkeyup="filterHechizos()">
            
            <select id="sortCriteria" class="px-4 py-2 rounded-lg bg-gray-900 text-white focus:ring-4 focus:ring-purple-500 transition-all duration-300 shadow-xl" onchange="filterHechizos()">
                <option value="nombre">Orden Alfabético</option>
                <option value="nivel">Nivel</option>
                <option value="magia">Magia</option>
                <option value="clase">Clase</option>
            </select>
            
        </div>

        <a href="{{ url_for('admin_crear_hechizo') }}" class="block text-center bg-gradient-to-r from-green-400 to-blue-500 hover:from-green-500 hover:to-blue-600 text-white font-bold py-2 px-6 rounded-full shadow-2xl transform transition hover:scale-110">Crear Hechizo</a>
    </div>
    <a href="/" class="block mt-6 text-lg font-bold text-indigo-200 hover:text-indigo-100 transition-transform transform hover:scale-105">⬅ Volver al Home</a>
   
    <ul class="w-full max-w-3xl mt-6 space-y-6" id="hechizos-list">
        {% for hechizo, detalle in hechizos.items() %}
        <li class="bg-gray-900 p-6 rounded-xl shadow-2xl transition-transform transform hover:scale-105 relative border border-purple-600 hover:border-blue-400 hechizo-item" 
            data-nombre="{{ hechizo }}" 
            data-nivel="{{ detalle['nivel'] }}" 
            data-magia="{{ detalle['magia'] }}" 
            data-clase="{{ detalle['clase'] }}">
            <div class="flex justify-between items-center">
                <span class="text-2xl font-bold text-purple-300 cursor-pointer hover:underline hechizo-name">{{ hechizo }}</span>
                
                <div class="flex space-x-4">
                    <form action="{{ url_for('admin_borrar_hechizo', nombre_hechizo=hechizo) }}" method="POST">
                        <button type="submit" class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white rounded-full shadow-lg transform transition hover:scale-110">Borrar</button>
                    </form>
                    <a href="{{ url_for('admin_editar_hechizo', nombre_hechizo=hechizo) }}" class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-full shadow-lg transform transition hover:scale-110">Editar</a>
                </div>
            </div>

            <div class="tooltip-content bg-gray-800 text-sm text-white rounded-lg p-4 mt-2 hidden shadow-xl border border-blue-500">
                <p><strong>Nivel:</strong> {{ detalle['nivel'] }}</p>
                <p><strong>Magia:</strong> {{ ", ".join(detalle['magia']) }}</p>
                <p><strong>Coste:</strong> {{ detalle['coste'] }}</p>
                <p><strong>Rango:</strong> {{ detalle['rango'] }} ft</p>
                <p><strong>Duración:</strong> {{ detalle['duracion'] }}</p>
                <p><strong>Casteo:</strong> {{ detalle['casteo'] }}</p>
                <p><strong>Descripción:</strong> {{ detalle['descripcion'] }}</p>
                {% if detalle['otro'] and detalle['otro'] != 'None' %}
                    <p class="mt-2"> ({{ detalle['otro'] }})</p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>

    <script>
        function filterHechizos() {
            var input = document.getElementById("search").value.toUpperCase();
            var criteria = document.getElementById("sortCriteria").value;
            var hechizosList = document.getElementById("hechizos-list");
            var hechizosItem = Array.from(hechizosList.getElementsByClassName("hechizo-item"));

            hechizosItem.forEach(item => {
                var nombre = item.getElementsByClassName("hechizo-name")[0].innerHTML.toUpperCase();
                item.style.display = (nombre.indexOf(input) > -1) ? "" : "none";
            });

            hechizosItem.sort((a, b) => {
                var valA = a.dataset[criteria] || "";
                var valB = b.dataset[criteria] || "";

                if (criteria === "nivel") {
                    return parseInt(valA) - parseInt(valB);
                }

                return valA.localeCompare(valB);
            });

            hechizosList.innerHTML = "";
            hechizosItem.forEach(item => hechizosList.appendChild(item));
        }
    </script>
</body>
</html>
