<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
</head>

<body>

    <h1>Wiki</h1>
    <table>
        <tr>
            <th>Armas</th>
            <th>Armaduras</th>
            <th>Objetos</th>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for arma in armas %}
                        <li><a href="{{ url_for('wiki_arma', arma_nombre=arma['nombre']) }}">{{ arma['nombre'] }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for armadura in armaduras %}
                        <li><a href="{{ url_for('wiki_armadura', armadura_nombre=armadura['nombre']) }}">{{ armadura['nombre'] }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for objeto in objetos %}
                        <li><a href="{{ url_for('wiki_objeto', objeto_nombre=objeto['nombre']) }}">{{ objeto['nombre'] }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

</body>
</html>