<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki</title>
  </head>

  <body>
    <h1>Bienvenido a la Wiki de B&B</h1>

    <p>En esta página se explican los pasos a seguir para crear un personaje adaptado al homebrew de B&B.</p>

    <h2><a href="/wiki/razas">Raza</a> y <a href="/wiki/clases">Clase</a></h2>
    <p>Las razas funcionan de forma prácticamente idéntica a las de D&D vanilla, obviando que sus estadísticas están cambiadas y que hay razas nuevas.</p>

    <p>Las clases, por otro lado, han sido cambiadas por completo. Se dividen en 3 principales, Mago, Guerrero y Pícaro, que a su vez se dividen en varias subclases que serían el equivalente a las clases vanilla de D&D.</p>
    <p>El primer paso para crear un personaje es escoger estas dos cosas, pues son lo que más marca el gameplay del personaje.</p>

    <h2><a href="magia">Magia</a></h2>
    <p>Si has escogido una subclase que utilice magia, lo siguiente es escoger una. Hay varias disponibles, pero siempre puedes hablar con tu DM para hacer una nueva.</p>
    <h3><a href="talento">Talento</a></h3>
    <p>Independientemente de que tengas una magia o no, todo ser vivo con el potencial de usarla tiene un talento, una habilidad única que varía incluso entre usuarios de la misma magia. Igual que con la magia hay varias disponibles, pero puedes hablar con tu DM para hacer una nueva.</p>

    <h1>Estadísticas</h1>
    <p>Algunas estadísticas se mantienen iguales que en D&D, pero algunas han cambiado y otras ya no están. Agrupadas en 3 categorías; Cuerpo, Alma y Mente, cada una está enfocada a su respectiva clase principal.</p>
    <h3>Cuerpo</h3>
    <p>Son habilidades relacionadas con los guerreros. Funcionan igual que en D&D vanilla; Fuerza, Destreza, Agilidad.</p>
    <h3>Mente</h3>
    <p>Son habilidades relacionadas con los pícaros. Son las otras 3 estadísticas de D&D vanilla, Inteligencia, Sabiduría y Carisma.</p>
    <h3>Alma</h3>
    <p>
      D&D utiliza carisma, inteligencia y sabiduría como estadística para lanzas hechizos. Aquí, las separamos en su propio apartado.<br />
      Poder se refiere a la capacidad destructiva de la magia. Es el equivalente a fuerza.<br />
      Control es la precisión con la que manejas tu magia. Es equivalente a agilidad, determina si un hechizo acierta, entre otras cosas.<br />
      Capacidad es la cantidad de maná que albergas. Afecta al maná máximo, entre otras cosas.
    </p>

    <p>Similar a D&D, puedes tirar 4d6 y descartar el más bajo para esvoger cada estadística, o puedes utilizar un sistema de puntos.</p>

    <table border="1">
      <tr>
        <th>Puntuación</th>
        <th>Costo</th>
      </tr>
      <tr>
        <td>7</td>
        <td>-1</td>
      </tr>
      <tr>
        <td>8</td>
        <td>0</td>
      </tr>
      <tr>
        <td>9</td>
        <td>1</td>
      </tr>
      <tr>
        <td>10</td>
        <td>2</td>
      </tr>
      <tr>
        <td>11</td>
        <td>3</td>
      </tr>
      <tr>
        <td>12</td>
        <td>4</td>
      </tr>
      <tr>
        <td>13</td>
        <td>5</td>
      </tr>
      <tr>
        <td>14</td>
        <td>7</td>
      </tr>
      <tr>
        <td>15</td>
        <td>9</td>
      </tr>
      <tr>
        <td>16</td>
        <td>10</td>
      </tr>
    </table>
    <p>Dispones de un total de 41 puntos a repartir como quieras.</p>

    <h3>Final</h3>
    <p>Una vez hayas hecho todo esto, lo último es modificar tu ficha de acuerdo con tus elecciones. Por ejempo, alguna raza puede tener un modificador de fuerza, tu clase puede darte habilidades adicionales, etc.</p>
  </body>
</html>
