<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Ficha</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ver_fichas.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg my-8">
      <div class="mb-6 flex items-center">
        <div class="flex-1 grid grid-cols-3 gap-4 gap-x-8 gap-y-4">
          <div>
            <img src="{{ url_for('static', filename='images/bb.png') }}" alt="Logo del rol" class="w-auto h-auto mb-5">
          </div>
          <div></div>
          <div></div>
          <p class="mb-2">
            <span class="font-bold">Nombre:</span>
            <br> {{ contenido['nombre'] }}
          </p>
          <p class="mb-2">
            <span class="font-bold">Nivel:</span>
            <br> {{ contenido['nivel'] }}
          </p>
          <p class="mb-2">
            <span class="font-bold">Clase:</span>
            <br> {{ contenido['clase'] }}
          </p>
          <p class="mb-2">
            <span class="font-bold">Magia:</span>
            <br> {{ contenido['magia'] }}
          </p>
          <!--  TALENTO CON TOOLTIP  -->
          <div class="mb-2">
            <span class="font-bold block">Talento:</span>
            <div class="relative group inline-block">
              <span class="cursor-pointer text-blue-600 hover:underline">{{ talento['nombre'] }}</span>
              <div class="absolute left-1/2 bottom-full transform -translate-x-1/2 mb-2 hidden group-hover:block w-64 bg-gray-800 text-white text-xs rounded py-2 px-3 z-10 whitespace-normal">
                <p>
                  <strong>Duración:</strong> {{ talento['duracion'].strip('"') }}
                </p>
                <p>
                  <strong>Coste:</strong> {{ talento['coste'] }}
                </p>
                <p>
                  <strong>Rango:</strong> {{ talento['rango'] }} ft
                </p> {% if talento['clase'] %} <p>
                  <strong>Clase:</strong> {{ talento['clase'] }}
                </p> {% endif %} {% if talento['raza'] %} <p>
                  <strong>Raza:</strong> {{ talento['raza'] }}
                </p> {% endif %} {% if talento['otro'] %} <p>
                  <strong>Otro:</strong> {{ talento['otro'] }}
                </p> {% endif %} <p>
                  <strong>Casteo:</strong> {{ talento['casteo'].strip('"') }}
                </p>
                <p class="mt-2">{{ talento['descripcion'].strip('"') }}</p>
              </div>
            </div>
          </div>
          <p class="mb-2">
            <span class="font-bold">Alineamiento:</span>
            <br> {{ contenido['alineamiento'] }}
          </p>
        </div>
        <div class="ml-4"> {% if contenido['foto'] %} <img src="{{ url_for('serve_photo', filename=contenido['foto']) }}" alt="Foto del personaje" class="w-60 h-auto rounded-md"> {% else %} <p>No hay foto disponible.</p> {% endif %} </div>
      </div>
      <!-- Datos adicionales y Dinero en paralelo -->
      <div class="mb-6 flex flex-wrap gap-4">
        <div class="flex-1">
          <h2 class="text-2xl font-semibold border-b pb-2 mb-4">Datos adicionales</h2>
          <div class="grid grid-cols-3 gap-4">
            <!-- Vida -->
            <ul>
              <p>
                <strong>Heridas posibles:</strong> leves {{ contenido['vida']['heridas_posibles'][0] }}, graves {{ contenido['vida']['heridas_posibles'][1] }}, letales {{ contenido['vida']['heridas_posibles'][2] }}
              </p> {% for zona, lista_heridas in contenido['vida']['heridas'].items() %} {% set heridas = lista_heridas[0] %} <li>
                {{ zona.replace('_', ' ').capitalize() }}: leves {{ heridas.leves }}, graves {{ heridas.graves }}, letales {{ heridas.letales }}
              </li> {% endfor %}
            </ul>
            <!-- Maná -->
            <p>
              <span class="font-bold">Mana:</span>
              <br>
              {{ contenido['mana']['acciones']['actuales'] }} / {{ contenido['mana']['acciones']['maximas'] }}
              <br>
              <em>Reservas:</em> {{ contenido['mana']['reservas'] }}
              <!-- Stamina -->
            <p>
              <span class="font-bold">Stamina:</span>
              <br>
              {{ contenido['stamina']['acciones']['actuales'] }} / {{ contenido['stamina']['acciones']['maximas'] }}
              <br>
              <em>Reservas:</em> {{ contenido['stamina']['reservas'] }}
            </p>
            <p>
              <span class="font-bold">Sobrecarga:</span>
              <br>{{ contenido['sobrecarga'] }}
            </p>
            <p>
              <span class="font-bold">Velocidad:</span>
              <br>{{ contenido['velocidad'] }}
            </p>
            <p>
              <span class="font-bold">Iniciativa:</span>
              <br>{{ contenido['iniciativa'] }}
            </p>
          </div>
        </div>
        <div class="w-64">
          <h2 class="text-2xl font-semibold border-b pb-2 mb-4">Dinero</h2>
          <div class="grid grid-cols-2">
            <p class="mb-2">
              <span class="font-bold">Cobre:</span> {{ contenido['dinero'][0] }}
            </p>
            <p class="mb-2">
              <span class="font-bold">Plata:</span> {{ contenido['dinero'][1] }}
            </p>
            <p class="mb-2">
              <span class="font-bold">Oro:</span> {{ contenido['dinero'][2] }}
            </p>
            <p class="mb-2">
              <span class="font-bold">Platino:</span> {{ contenido['dinero'][3] }}
            </p>
          </div> {% if contenido['especial']['nombre'] %} <p>
            <span class="font-bold"> {{contenido['especial']['nombre']}}:</span>
            <br>{{ contenido['especial']['actual'] }} / {{ contenido['especial']['maximo'] }}
          </p>{%endif%}
        </div>
      </div>
      <!-- Barra de navegación de secciones usando radio-inputs -->
      <div class="flex justify-center mb-6">
        <div class="radio-inputs">
          <label class="radio">
            <input type="radio" name="secciones" onclick="mostrarSeccion('seccionDestrezas')" checked>
            <span class="name">Proficiencias</span>
          </label>
          <label class="radio">
            <input type="radio" name="secciones" onclick="mostrarSeccion('seccionEstadisticas')">
            <span class="name">Estadísticas</span>
          </label>
          <label class="radio">
            <input type="radio" name="secciones" onclick="mostrarSeccion('seccionInventarioEquipo')">
            <span class="name">Inventario y Equipo</span>
          </label>
          <label class="radio">
            <input type="radio" name="secciones" onclick="mostrarSeccion('seccionHabilidadesHechizos')">
            <span class="name">Habilidades</span>
          </label>
          <label class="radio">
            <input type="radio" name="secciones" onclick="mostrarSeccion('seccionEstados')">
            <span class="name">Estados</span>
          </label>
          <label class="radio">
            <input type="radio" name="secciones" onclick="mostrarSeccion('seccionDistraccion')">
            <span class="name">TDAH</span>
          </label>
        </div>
      </div>
      <!-- Sección: Destrezas en 3 columnas -->
      <div id="seccionDestrezas" class="seccion mb-7">
        <h2 class="text-2xl font-semibold border-b pb-2 mb-4">Proficiencias</h2>
        <div class="grid grid-cols-3 gap-4"> {% set proficiencias_nombres = [
          'Herrería', 'Sastrería', 'Carpintería', 'Alquimia',
          'Supervivencia', 'Medicina', 'Cocina', 'Pesca', 'Arcano'
        ] %} {% for valor in contenido['Proficiencias'] %} <div>
            <span class="font-bold">{{ proficiencias_nombres[loop.index0] }}:</span> {{ valor }}
          </div> {% endfor %} </div>
      </div>
      <!-- Sección: Estadísticas en 3 columnas -->
      <div id="seccionEstadisticas" class="seccion hidden mb-7">
        <h2 class="text-2xl font-semibold border-b pb-2 mb-4">Estadísticas</h2>
        <div class="grid grid-cols-3 gap-4"> {% set estadisticas_nombres = ['Fuerza', 'Resistencia', 'Agilidad', 'Poder', 'Control', 'Capacidad', 'Carisma', 'Inteligencia', 'Sabiduría'] %} {% for valor in contenido['estadisticas'] %} <div>
            <span class="font-bold">{{ estadisticas_nombres[loop.index0] }}:</span> {{ valor }}
          </div> {% endfor %} </div>
      </div>
      <!-- Sección: Inventario y Equipo (agrupa Equipo e Inventario) -->
      <div id="seccionInventarioEquipo" class="seccion hidden mb-7">
        <h2 class="text-2xl font-semibold border-b pb-2 mb-4">Inventario y Equipo</h2>
        <!-- Equipo -->
        <h3 class="text-xl font-semibold mt-4">Equipo</h3> {% if contenido['equipamiento'] %} <ul class="list-disc pl-5 space-y-2"> {% for item in contenido['equipamiento'] %} <li class="mb-1">
            <div class="relative group inline-block">
              <span class="cursor-pointer text-blue-600 hover:underline">{{ item }}</span>
              <div class="absolute left-1/2 bottom-full transform -translate-x-1/2 mb-2 hidden group-hover:block w-72 bg-gray-800 text-white text-xs rounded py-2 px-3 z-10"> {% for arma in armas_detalle %} {% if arma['nombre'] == item %} <p>
                  <strong>Daño:</strong> {{ arma['daño'] }}
                </p>
                <p>
                  <strong>Calidad:</strong> {{ arma['calidad'] }}
                </p>
                <p>
                  <strong>Tipo:</strong> {{ arma['tipo'] }}
                </p>
                <p>
                  <strong>Descripción:</strong> {{ arma['descripcion'] }}
                </p> {% endif %} {% endfor %} {% for armadura in armaduras_detalle %} {% if armadura['nombre'] == item %} <p>
                  <strong>Rating:</strong> {{ armadura['rating'] }}
                </p>
                <p>
                  <strong>Calidad:</strong> {{ armadura['calidad'] }}
                </p>
                <p>
                  <strong>Tipo:</strong> {{ armadura['tipo'] }}
                </p>
                <p>
                  <strong>Descripción:</strong> {{ armadura['descripcion'] }}
                </p> {% endif %} {% endfor %} {% for objeto in objetos_detalle %} {% if objeto['nombre'] == item %} <p>
                  <strong>Otros:</strong> {{ objeto['otros'] }}
                </p>
                <p>
                  <strong>Tipo:</strong> {{ objeto['tipo'] }}
                </p>
                <p>
                  <strong>Descripción:</strong> {{ objeto['descripcion'] }}
                </p> {% endif %} {% endfor %}
              </div>
            </div>
          </li> {% endfor %} </ul> {% else %} <p>No hay equipo registrado.</p> {% endif %}
        <!-- Inventario -->
        <h3 class="text-xl font-semibold mt-4">Inventario</h3> {% if objetos_detalle or armas_detalle or armaduras_detalle %} <ul class="list-disc pl-5 space-y-2"> {% for objeto in objetos_detalle %} <li class="mb-1">
            <div class="relative group inline-block">
              <span class="cursor-pointer text-blue-600 hover:underline">{{ objeto['nombre'] }}</span>
              <div class="absolute left-1/2 bottom-full transform -translate-x-1/2 mb-2 hidden group-hover:block w-72 bg-gray-800 text-white text-xs rounded py-2 px-3 z-10">
                <p>
                  <strong>Otros:</strong> {{ objeto['otros'] }}
                </p>
                <p>
                  <strong>Descripción:</strong> {{ objeto['descripcion'] }}
                </p>
              </div>
            </div>
          </li> {% endfor %} {% for arma in armas_detalle %} <li class="mb-1">
            <div class="relative group inline-block">
              <span class="cursor-pointer text-blue-600 hover:underline">{{ arma['nombre'] }}</span>
              <div class="absolute left-1/2 bottom-full transform -translate-x-1/2 mb-2 hidden group-hover:block w-72 bg-gray-800 text-white text-xs rounded py-2 px-3 z-10">
                <p>
                  <strong>Daño:</strong> {{ arma['daño'] }}
                </p>
                <p>
                  <strong>Calidad:</strong> {{ arma['calidad'] }}
                </p>
                <p>
                  <strong>Tipo:</strong> {{ arma['tipo'] }}
                </p>
                <p>
                  <strong>Descripción:</strong> {{ arma['descripcion'] }}
                </p>
              </div>
            </div>
          </li> {% endfor %} {% for armadura in armaduras_detalle %} <li class="mb-1">
            <div class="relative group inline-block">
              <span class="cursor-pointer text-blue-600 hover:underline">{{ armadura['nombre'] }}</span>
              <div class="absolute left-1/2 bottom-full transform -translate-x-1/2 mb-2 hidden group-hover:block w-72 bg-gray-800 text-white text-xs rounded py-2 px-3 z-10">
                <p>
                  <strong>Rating:</strong> {{ armadura['rating'] }}
                </p>
                <p>
                  <strong>Calidad:</strong> {{ armadura['calidad'] }}
                </p>
                <p>
                  <strong>Tipo:</strong> {{ armadura['tipo'] }}
                </p>
                <p>
                  <strong>Descripción:</strong> {{ armadura['descripcion'] }}
                </p>
              </div>
            </div>
          </li> {% endfor %} </ul> {% else %} <p>No hay objetos en el inventario.</p> {% endif %}
      </div>
      <!-- Sección: Habilidades y Hechizos -->
      <div id="seccionHabilidadesHechizos" class="seccion hidden mb-7">
        <h2 class="text-2xl font-semibold border-b pb-2 mb-4">Habilidades</h2>
        <!-- Habilidades --> {% if habilidades_detalle %} <ul class="list-disc pl-5 space-y-2"> {% for habilidad, detalle in habilidades_detalle.items() %} <li>
            <div class="relative group inline-block">
              <span class="cursor-pointer text-blue-600 hover:underline">{{ habilidad }}</span>
              <div class="absolute left-1/2 bottom-full transform -translate-x-1/2 mb-2 hidden group-hover:block w-64 bg-gray-800 text-white text-xs rounded py-2 px-3 z-10">
                <p>
                  <strong>Duración:</strong> {{ detalle['duracion'].strip('"') }}
                </p>
                <p>
                  <strong>Coste de vida:</strong> {{ detalle['coste'].split(',')[0].strip('"') }}
                </p>
                <p>
                  <strong>Coste de mana:</strong> {{ detalle['coste'].split(',')[1].strip('"') }}
                </p>
                <p>
                  <strong>Coste de resistencia:</strong> {{ detalle['coste'].split(',')[2].strip('"') }}
                </p>
                <p>
                  <strong>Rango:</strong> {{ detalle['rango'] }}ft
                </p> {% if detalle['clase'] %} <p>
                  <strong>Clase:</strong> {{ detalle['clase'] }}
                </p> {% endif %} {% if detalle['raza'] %} <p>
                  <strong>Raza:</strong> {{ detalle['raza'] }}
                </p> {% endif %} {% if detalle['otro'] %} <p>
                  <strong>Otro:</strong> {{ detalle['otro'] }}
                </p> {% endif %} <p>
                  <strong>Casteo:</strong> {{ detalle['casteo'].strip('"') }}
                </p>
                <p class="mt-2">{{ detalle['descripcion'].strip('"') }}</p>
              </div>
            </div>
          </li> {% endfor %} </ul> {% else %} <p>No hay habilidades registradas.</p> {% endif %}
      </div>
      <div id="seccionEstados" class="seccion hidden mb-7">
        <h3 class="text-xl font-semibold mt-4">Estados</h3> {% if estados_detalle %} <ul class="list-disc pl-5 space-y-2"> {% for estado in estados_detalle %} <li>
            <div class="relative group inline-block">
              <span class="cursor-pointer text-blue-600 hover:underline">{{ estado['nombre'] }}</span>
              <div class="absolute left-1/2 bottom-full transform -translate-x-1/2 mb-2 hidden group-hover:block w-64 bg-gray-800 text-white text-xs rounded py-2 px-3 z-10">
                <p>{{ estado['efecto'] }}</p>
              </div>
            </div>
          </li> {% endfor %} </ul> {% else %} <p>No hay estados registrados.</p> {% endif %}
      </div>
      <!-- Sección: Brainrot TDAH -->
      <div id="seccionDistraccion" class="seccion hidden mb-7">
        <h2 class="text-2xl font-semibold border-b pb-2 mb-4">Distracción</h2>
        <div class="grid grid-cols-4 gap-4 items-center justify-center">
          <button class="custom-button">
            <span class="back"></span>
            <span class="front"></span>
          </button>
          <label class="switch">
            <div class="round">
              <input name="onoff" id="onoff" type="checkbox">
              <div class="back">
                <label for="onoff" class="but">
                  <span class="on">0</span>
                  <span class="off">I</span>
                </label>
              </div>
            </div>
          </label>
          <label class="switch mt-3">
            <input type="checkbox" />
            <span class="slider"></span>
            <div class="hitbox"></div>
          </label>
          <div>
            <div class="brick one"></div>
            <div id="miBoton" class="tooltip-mario-container">
              <div class="box"></div>
              <div class="mush"></div>
            </div>
            <div class="brick two"></div>
          </div>
        </div>
      </div>
      <!-- Historia (siempre visible) -->
      <div class="mb-6">
        <h2 class="text-2xl font-semibold border-b pb-2 mb-4">Historia</h2>
        <p>{{ contenido['historia'] }}</p>
      </div>
      <!-- Historia (siempre visible) -->
      <div class="mb-6">
        <h2 class="text-2xl font-semibold border-b pb-2 mb-4">Notas</h2>
        <p>{{ contenido['notas'] }}</p>
      </div>
      <!-- Enlaces para volver o editar -->
      <div class="text-center">
        <a href="{{ url_for('fichas') }}" class="text-white hover:underline"> Volver a la lista de fichas </a>
        <a href="{{ url_for('modificar_ficha', nombre_ficha=nombre_ficha) }}" class="text-white hover:underline ml-4"> Editar ficha </a>
      </div>
    </div>
    <script>
      function mostrarSeccion(id) {
        document.querySelectorAll('.seccion').forEach(function(seccion) {
          seccion.classList.add('hidden');
        });
        document.getElementById(id).classList.remove('hidden');
      }
    </script>
    <audio id="miSonido" src="{{ url_for('static', filename='images/bomboclat.mp3') }}"></audio>
    <script>
      document.getElementById("miBoton").addEventListener("click", function() {
        document.getElementById("miSonido").play();
      });
    </script>
    <script src="{{ url_for('static', filename='js/ver_fichas.js') }}"></script>
  </body>
</html>